body {
  margin: 0;
  font-size:20px;
}

.header {
  background-color: #f1f1f1;
  padding:30px;
  text-align:center;
}

#navbar {
 overflow:hidden;
 background-color:#666666;
position: fixed;
padding-top: 0;
width: 100%;
padding: 0px;
}

#navbar a {
 float:right;
 display:block;
 color:#f2f2f2;
 text-align: center;
 padding:14px 16px;
 text-decoration:none;
 font-size:17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;

}
.content {
  padding: 16px;
 color: black;
  }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + content {
  padding: 60px;
  }

.main {
padding:16px;
margin-top: 30px;
height: 1500px;
}

.a href {
float: left;
display: inline;
}

 h1 {
  text-align:center;
  background-color:grey;
  
}
footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: grey;
background-image:#171717;
text-color:#d4d4d4;
} 
p{
font-size: 15px;
}

article {
text-align:center;
font-size:100%
color:black;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #171717;
color: white;
text-align: center;
}
page {
background: white;
display: block;
margin: 0 auto;
margin-bottom: 0.5cm;
box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A3"] {
  width: 33cm;
  height: 42cm;
}
page[size="A3"][layout="portrait"] {
  width: 42cm;
  height: 29.7cm;
}
@media print {
  body,page {
   margin: o;
   box-shadow: 0;
  }
}


